@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-BoldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-Medium.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-MediumItalic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: LEMONMILK;
  src: url("./Assets/Fonts/LEMONMILK-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

$text-color: #2e2e2e;
$white: #ffffff;

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
  overflow-x: hidden;
}
.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: "LEMONMILK", sans-serif;
}
.header {
  width: 100%;
  max-width: 1440px;
  background-color: $white;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  z-index: 999;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.menu__btn {
  display: none;
  background: $white;
  border: none;
  align-items: center;
  justify-content: center;
  color: $text-color;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.menu__btn:hover {
  transition: 200ms ease-in-out;
  color: $white;
  background-color: $text-color;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__link {
  text-decoration: none;
  padding: 0.7em 2em;
  padding-right: 0em;
  color: $text-color;
  position: relative;
}
.header__nav__link::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  left: 15px;
  background-color: $text-color;
  display: none;
}
.header__nav__link:hover {
  transition: 500ms ease-in-out;
  font-weight: bold;
}
.header__nav__link:hover::after {
  transition: 500ms ease-in-out;
  display: flex;
}
.jumbotron__container {
  width: 100%;
  height: 850px;
  overflow: hidden;
  position: relative;
}
.jumbotron__container__img {
  width: 100%;
  height: 100%;
}
.jumbotron__container__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.5), $white);
}

.jumbotron__container__overlay__wrapper {
  width: 100%;
  max-width: 1440px;
  height: 500px;
  font-size: 35px;
  color: $text-color;
  text-align: center;
  animation: fadein 5s;
  padding: 0em 2em;
}

.matrics__container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}
.matrics__container__wrapper {
  width: 100%;
  height: fit-content;
  max-width: 1440px;
  padding: 0em 2em;
  margin: 0em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -100px;
}
.matrics__container__card,
.matrics__container__card__reverse {
  width: 300px;
  height: 200px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  margin: 1em 0em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}
.matrics__container__card {
  background-color: $white;
  animation: fadeinrev 5s;
}
.matrics__container__card__reverse {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeinrev 5s;
}
.matrics__container__card__value {
  font-size: 80px;
  color: $text-color;
  font-weight: normal;
  font-style: normal;
  margin-right: 0.3em;
}
.matrics__container__card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 300;
  color: lighten($text-color, 40%);
}
.matrics__container__card__reverse__info {
  font-size: 18px;
  font-weight: 300;
  color: lighten($text-color, 40%);
  margin-bottom: -0.5em;
}
.matrics__container__card__reverse__value {
  font-size: 70px;
  color: $text-color;
}
.matrics__container__card:hover,
.matrics__container__card__reverse:hover {
  transition: 300ms ease-in-out;
  background-color: $text-color;
}
.matrics__container__card:hover .matrics__container__card__info,
.matrics__container__card__reverse:hover
  .matrics__container__card__reverse__info {
  color: lighten($white, 10%);
}
.matrics__container__card:hover .matrics__container__card__value,
.matrics__container__card__reverse:hover
  .matrics__container__card__reverse__value {
  color: $white;
}
.flagship__project__container {
  position: relative;
  width: 100%;
  height: 850px;
}
.flagship__project__container__img {
  width: 100%;
  height: 100%;
}
.flagship__project__container__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flagship__project__container__overlay__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0em 2em;
}
.flagship__project__container__overlay__left {
  width: 50%;
}
.flagship__project__container__overlay__right {
  width: 40%;
  mix-blend-mode: luminosity;
  opacity: 0.9;
}
.flagship__project__container__overlay__left__heading {
  font-size: 25px;
  font-weight: 300;
  color: lighten($text-color, 40%);
  margin-bottom: 0.5em;
}
.flagship__project__container__overlay__left__heading span {
  font-weight: 600;
  color: $text-color;
}
.flagship__project__container__overlay__left__info,
.awarded__project__container__overlay__content__left__info,
.main__projects__container__overlay__content__right__content__info,
.contact__container__form__info,
.vision__container__overlay__content__left__info {
  color: lighten($text-color, 40%);
  font-size: 14px;
}
.our__projects__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.our__projects__container__heading,
.awarded__project__container__overlay__content__left__heading,
.main__projects__container__overlay__content__right__content__heading,
.booking__container__overlay__content__left__heading,
.contact__container__form__heading,
.vision__container__overlay__content__left__heading {
  font-size: 25px;
  font-weight: 300;
  color: lighten($text-color, 40%);
  margin-bottom: 0.5em;
}
.our__projects__container__heading span,
.awarded__project__container__overlay__content__left__heading span,
.main__projects__container__overlay__content__right__content__heading span,
.booking__container__overlay__content__left__heading span,
.contact__container__form__heading span,
.vision__container__overlay__content__left__heading span {
  font-weight: 600;
  color: $text-color;
}
.our__projects__container__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  padding: 0em 2em;
  justify-content: space-between;
  align-items: center;
  margin: 3em;
  margin-bottom: 5em;
}
.our__projects__container__content__entry__wrapper {
  position: relative;
}
.our__projects__container__content__entry {
  padding: 1em;
  border-radius: 10px;
}
.our__projects__container__content__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.our__projects__container__content__entry__img {
  width: 130px;
  height: 130px;
}
.our__projects__container__content__entry__input:hover
  ~ .our__projects__container__content__entry,
.our__projects__container__content__entry__input:checked
  ~ .our__projects__container__content__entry {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.projects__container {
  width: 100%;
  position: relative;
  height: 850px;
}
.projects__container__img {
  width: 100%;
  height: 100%;
}
.projects__container__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__container__overlay__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0em 2em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__container__overlay__content__heading {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1em;
  color: $text-color;
}
.projects__container__overlay__content__info {
  font-size: 14px;
  text-align: justify;
  color: $text-color;
}
.projects__container__overlay__content__images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.projects__container__overlay__content__images::-webkit-scrollbar {
  display: none;
}
.projects__container__overlay__content__image {
  height: 350px;
  margin: 5em 1em;
  margin-bottom: 2em;
  margin-right: 2em;
  border-radius: 5px;
}
.projects__container__overlay__content__image:hover {
  transition: 300ms ease-in-out;
  transform: scale(1.15);
}
.awarded__project__container {
  position: relative;
  height: 850px;
  width: 100%;
}
.awarded__project__container__img {
  width: 100%;
  height: 100%;
}
.awarded__project__container__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awarded__project__container__overlay__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.awarded__project__container__overlay__content > div {
  width: 30%;
}
.awarded__project__container__overlay__content__right {
  mix-blend-mode: luminosity;
  opacity: 0.9;
}
.main__projects__container {
  width: 100%;
  position: relative;
  height: 500px;
}
.main__projects__container__img {
  height: 100%;
  width: 100%;
}
.main__projects__container__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__projects__container__overlay__content {
  width: 100%;
  max-width: 1600px;
  display: flex;
  height: 100%;
}
.main__projects__container__overlay__content__left {
  width: 50%;
  height: 100%;
}
.main__projects__container__overlay__content__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 7em;
}
.main__projects__container__overlay__content__right__bar {
  height: 80%;
  min-width: 5px;
  border-radius: 10px;
  margin-right: 2em;
  background-color: $text-color;
}
.main__projects__container__overlay__content__right__content {
  width: 100%;
  height: 98%;
  overflow: hidden;
}
.booking__container {
  position: relative;
  width: 100%;
  height: 500px;
}
.booking__container__img {
  width: 100%;
  height: 100%;
}
.booking__container__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking__container__overlay__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0em 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.booking__container__overlay__content__left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
}
.booking__container__overlay__content__middle {
  width: 33%;
}
.booking__container__overlay__content__right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
}
.booking__container__overlay__content__right__img {
  height: 150px;
}
.vision__container {
  width: 100%;
  height: 550px;
  position: relative;
}
.vision__container__img {
  width: 100%;
  height: 100%;
}
.vision__container__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.vision__container__overlay__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vision__container__overlay__content__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}
.vision__container__overlay__content__left__heading {
  color: $white;
}

.vision__container__overlay__content__left__heading span {
  color: $white;
}
.vision__container__overlay__content__left__info {
  color: $white;
}
.vision__container__overlay__content__right {
  width: 50%;
  height: 99%;
}
.youtube__video {
  width: 100%;
  max-width: 1440px;
  height: 700px;
  margin: 3em auto;
  padding: 2em;
}
.team__container {
  width: 100%;
  height: 500px;
  position: relative;
}
.team__container__img {
  width: 100%;
  height: 100%;
}
.team__container__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__container__overlay__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.team__container__overlay__content__heading {
  font-size: 25px;
  color: $white;
  margin-bottom: 1em;
}
.team__container__overlay__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.team__container__overlay__content__card {
  width: fit-content;
}
.team__container__overlay__content__card__name {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14px;
  color: $white;
}
.team__container__overlay__content__card__designation {
  font-size: 12px;
  color: $white;
}
.contact__container {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__container__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__container__content iframe {
  width: 50%;
  height: 100%;
  border: none;
}
.contact__container__form {
  width: 50%;
  height: 100%;
  background: url("./Assets/contactFormBg.png"), no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 5em;
}
.contact__container__form__info {
  width: 70%;
  margin-bottom: 1em;
}
.contact__container__form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__container__form__input {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-bottom: 1em;
}
.contact__container__form__input:first-child {
  margin-right: 1em;
}
.contact__container__form__input__label {
  font-size: 10px;
  color: $text-color;
  position: absolute;
  top: -10px;
  left: 0px;
  display: none;
  background-color: $white;
}
.contact__container__form__input__field {
  flex: 1;
  border: none;
  border-bottom: 1px solid $text-color;
  min-height: 40px;
  background-color: transparent;
  color: $text-color;
  outline: none;
}
.contact__container__form__input__field::placeholder {
  text-transform: capitalize;
}
.contact__container__form__input__field:hover,
.contact__container__form__input__field:focus {
  transition: 300ms ease-in-out;
  border-width: 2px;
}
.contact__container__form__input__field:focus::placeholder {
  color: transparent;
}
.contact__container__form__input__field:focus
  ~ .contact__container__form__input__label {
  transition: 300ms ease-in-out;
  display: flex;
}
.contact__container__form__input textarea {
  padding: 1em 0em;
  max-width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.contact__container__form__button {
  width: 50%;
  height: 40px;
  background: linear-gradient(90deg, #717171, $text-color);
  border: none;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0em;
  margin-left: auto;
  outline: none;
}
.contact__container__form__button:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.contact__container__form__content {
  display: flex;
  justify-content: space-between;
}
.contact__container__form__content__col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact__container__form__content__col__heading {
  font-size: 14px;
  margin-bottom: 0.3em;
}
.contact__container__form__content__col__value {
  font-size: 12px;
  margin-bottom: 0.1em;
}
.contact__container__form__content__col__links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__container__form__content__col__link {
  width: 35px;
  height: 35px;
  background: linear-gradient(90deg, #717171, $text-color);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}
.contact__container__form__content__col__link:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeinrev {
  from {
    opacity: 0;

    margin-top: 100px;
  }
  to {
    opacity: 1;

    margin-top: 0px;
  }
}
@media (min-width: 1441px) {
  .youtube__video {
    margin-left: calc(50% - 720px);
  }
}
@media (max-width: 1440px) {
  .matrics__container__card,
  .matrics__container__card__reverse {
    width: 24%;
  }
}
@media (max-width: 1200px) {
  .jumbotron__container__img {
    width: fit-content;
    margin-left: -200px;
  }
  .matrics__container__card,
  .matrics__container__card__reverse {
    transform: scale(0.9);
  }
  .awarded__project__container__overlay__content__middle {
    width: 28%;
  }

  .awarded__project__container__overlay__content__right {
    width: 28%;
  }
  .contact__container {
    height: fit-content;
  }
  .contact__container__content {
    flex-direction: column-reverse;
  }
  .contact__container__form {
    width: 100%;
    height: 700px;
  }
  .contact__container__content iframe {
    width: 100%;
    height: 700px;
  }
}
@media (max-width: 1000px) {
  .menu__btn {
    display: flex;
  }
  .header__nav {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    padding: 1em 0em;
    animation-name: fade, slide;
    animation-duration: 400ms, 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
    animation-delay: 200ms, 0;
    background-color: $white;
  }
  .matrics__container__card,
  .matrics__container__card__reverse {
    width: 24%;
  }
  .our__projects__container__content {
    flex-wrap: wrap;
  }
  .our__projects__container__content__entry__wrapper {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .awarded__project__container {
    height: 1200px;
  }
  .awarded__project__container__overlay__content {
    flex-direction: column;
    padding: 5em 0em;
  }
  .awarded__project__container__overlay__content__left {
    min-width: 50%;
  }
  .main__projects__container {
    height: 1000px;
  }
  .main__projects__container__overlay__content {
    flex-direction: column;
  }
  .main__projects__container__overlay__content__reverse {
    flex-direction: column-reverse;
  }
  .main__projects__container__overlay__content__left {
    width: 100%;
  }
  .main__projects__container__overlay__content__right {
    height: 500px;
    width: 100%;
  }
  .team__container {
    height: 1000px;
  }
  .team__container__overlay__wrapper {
    flex-wrap: wrap;
  }
  .team__container__overlay__content__card {
    margin-top: 2em;
  }
  .vision__container__overlay__content {
    position: relative;
  }
  .vision__container__overlay__content__left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .vision__container__overlay__content__right {
    width: 100%;
  }
  .App {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .jumbotron__container__img {
    margin-left: -400px;
  }
  .flagship__project__container {
    height: 800px;
  }
  .flagship__project__container__img {
    width: fit-content;
  }
  .flagship__project__container__overlay {
    align-items: flex-end;
  }
  .flagship__project__container__overlay__wrapper {
    flex-direction: column-reverse;
    height: 60%;
  }
  .flagship__project__container__overlay__left {
    width: 100%;
    align-items: center;
    padding-bottom: 5em;
  }
  .flagship__project__container__overlay__right {
    width: 60%;
  }
  .matrics__container__wrapper {
    flex-wrap: wrap;
    top: -200px;
  }
  .matrics__container__card,
  .matrics__container__card__reverse {
    width: 48%;
  }
  .our__projects__container__content__entry__wrapper {
    width: 48%;
    margin-bottom: 2em;
  }
  .projects__container {
    height: 1000px;
  }
  .awarded__project__container__overlay__content__left {
    min-width: 80%;
  }
  .awarded__project__container__overlay__content__middle {
    width: 50%;
  }

  .awarded__project__container__overlay__content__right {
    width: 50%;
  }
  .team__container {
    height: 1200px;
  }
  .team__container__img {
    width: fit-content;
    margin-left: -1550px;
  }
  .team__container__overlay__wrapper {
    flex-direction: column;
  }
  .booking__container__overlay__content__middle {
    width: 270px;
    position: absolute;
    left: 100px;
  }
}
@media (max-width: 600px) {
  .jumbotron__container__img {
    margin-left: -600px;
  }
  .flagship__project__container__overlay {
    align-items: center;
  }
  .flagship__project__container__overlay__right {
    width: 80%;
    margin-bottom: 4em;
  }
  .flagship__project__container__overlay__left {
    padding-bottom: 0em;
  }
  .matrics__container__wrapper {
    flex-wrap: wrap;
    position: relative;
    top: 0;
  }
  .matrics__container__card,
  .matrics__container__card__reverse {
    width: 100%;
  }
  .contact__container__form {
    height: fit-content;
    padding: 3em 2em;
  }
  .contact__container__form__row {
    flex-direction: column;
  }
  .contact__container__form__input {
    width: 100%;
  }
  .contact__container__form__input:first-child {
    margin-right: 0em;
  }
  .contact__container__form__content {
    flex-direction: column;
  }
  .contact__container__form__content__col {
    margin-bottom: 1em;
  }
  .contact__container__form__content__col__links {
    width: 50%;
    margin-top: 0.3em;
  }
}
